<main class="container-xl mt-5">
  <h2 class="text-center">{{ 'entrada.title' | transloco }}</h2>

  <div class="row justify-content-center mt-5">
    <div class="col-md-7">
      <img class="img-fluid" src="assets/img/blog_2.jpg" alt="{{ 'common.blogImage' | transloco }}" />

      <p class="text-primary mt-3">{{ 'entrada.date' | transloco }}</p>

      <p>{{ 'entrada.content1' | transloco }}</p>
      <p>{{ 'entrada.content2' | transloco }}</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi eligendi nesciunt eveniet ut? Itaque quasi
        error corporis architecto odit sunt illo. Dicta obcaecati eveniet rerum nulla, nesciunt tenetur nostrum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi eligendi nesciunt eveniet ut? Itaque quasi
        error corporis architecto odit sunt illo. Dicta obcaecati eveniet rerum nulla, nesciunt tenetur nostrum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi eligendi nesciunt eveniet ut? Itaque quasi
        error corporis architecto odit sunt illo. Dicta obcaecati eveniet rerum nulla, nesciunt tenetur nostrum?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi eligendi nesciunt eveniet ut? Itaque quasi
        error corporis architecto odit sunt illo. Dicta obcaecati eveniet rerum nulla, nesciunt tenetur nostrum?
      </p>
    </div>
  </div>
</main>
