<footer class="bg-dark py-5">
  <div class="container-xl">
    <div class="row align-items-start">
      <nav class="col-md-2 d-grid gap-2">
        <a href="#" class="text-light text-decoration-none">U Business</a>
        <a href="#" class="text-light text-decoration-none">Enseña en U</a>
        <a href="#" class="text-light text-decoration-none">Consigue la App</a>
        <a href="#" class="text-light text-decoration-none">¿Quienes Somos?</a>
        <a href="#" class="text-light text-decoration-none">Contacto</a>
      </nav>

      <nav class="col-md-2 d-grid gap-2">
        <a href="#" class="text-light text-decoration-none">Empleo</a>
        <a href="#" class="text-light text-decoration-none">Blog</a>
        <a href="#" class="text-light text-decoration-none">Ayuda y Asistencia</a>
        <a href="#" class="text-light text-decoration-none">Afiliado</a>
      </nav>

      <nav class="col-md-2 d-grid gap-2 me-auto">
        <a href="#" class="text-light text-decoration-none">Condiciones</a>
        <a href="#" class="text-light text-decoration-none">Política de Privacidad</a>
        <a href="#" class="text-light text-decoration-none">Mapa del Sitio</a>
      </nav>

      <div class="col-md-2">
        <a href="#" class="btn btn-outline-light">Español</a>
      </div>
    </div>
  </div>

  <div class="container-xl mt-5 d-flex justify-content-between align-items-center">
    <p class="text-light fs-3 fw-bold">
      <span class="text-success">u</span>
      niversidad
    </p>

    <p class="text-light">&copy; U, inc.</p>
  </div>
</footer>
