<div class="bg-dark mt-5 py-5">
  <div class="container-xl d-md-flex justify-content-md-between">
    <nav class="d-flex flex-column flex-md-row align-items-center">
      <a class="text-white fs-4 me-md-2" routerLink="/">{{ 'navigation.home' | transloco }}</a>
      <a class="text-white fs-4 me-md-2" routerLink="/nosotros">{{ 'navigation.about' | transloco }}</a>
      <a class="text-white fs-4 me-md-2" routerLink="/blog">{{ 'navigation.blog' | transloco }}</a>
      <a class="text-white fs-4 me-md-2" routerLink="/tienda">{{ 'navigation.store' | transloco }}</a>
    </nav>
    <p class="text-white text-center fs-4 mt-4 m-md-0">{{ 'footer.copyright' | transloco }}</p>
  </div>
</div>
