<section class="cursos container-xl mt-5 pt-5">
  <h3>Una amplia selección de cursos</h3>
  <p class="fs-4">Elige entre más de 155,000 cursos en video y en línea con nuevo contenido cada mes</p>

  <nav class="nav">
    <li class="nav-item">
      <a href="#" class="nav-link active">JavaScript</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Python</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">React Native</a>
    </li>
  </nav>

  <div class="categoria-curso p-4 mt-3">
    <p class="fs-4 fw-bold">Amplia tus oportunidades con JavaScript y Front End</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum molestias quis assumenda adipisci dignissimos
      enim natus dolor, ad aut quaerat omnis esse iure error velit cumque consequatur tempore. Nobis, rem?
    </p>

    <a href="#" class="btn btn-outline-dark">Explorar JavaScript</a>

    <ul class="list-unstyled mt-5 listado-cursos">
      <li class="curso">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_6.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">Curso de JavaScript Moderno creando 15 proyectos</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>

      <li class="curso">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_2.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">Diseño de UX y UI con Figma - 5 Apps</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>

      <li class="curso">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_10.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">FullStack JavaScript - Node, React y Electron</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>

      <li class="curso">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_9.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">Desarrollo Web Completo con react y Django</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>

      <li class="curso">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_3.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">Diseño de Interfaces de Usuario para Apps Móviles</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>

      <li class="curso d-lg-none">
        <div class="card">
          <img class="card-img-top" src="assets/images/curso_12.jpg" alt="imagen curso" />

          <div class="card-body">
            <h4 class="titulo">Bootcamp Backend - Ruby on Rails, Django y Laravel</h4>
            <p class="instructor m-0">Jose Pedro Instructor</p>

            <div class="d-flex align-items-center">
              <p class="m-0 me-2 puntaje fw-bold text-secondary">4.7</p>
              <img class="me-2 calificacion" src="assets/images/estrellas.png" alt="calificacion estrellas" />
              <p class="m-0 total">(3121)</p>
            </div>

            <p class="precio fw-bold">
              10 USD$
              <span class="original fw-normal">200 USD$</span>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
