@use "../../../styles/base/variables" as v;
@use "../../../styles/base/mixins" as m;
@use "../../../styles/base/text-utilities";

.crea-grid {
  @include m.tablet {
    @include m.grid(2, 2rem);
    align-items: center;
  }

  h2 {
    @include m.headingBorder(v.$secundario, v.$primario);
    color: v.$blanco;
  }

  p {
    color: v.$blanco;
  }
}
