<section class="descuentos container-xl">
  <div class="row justify-content-around align-items-lg-end bg-light">
    <div class="col-lg-4 shadow bg-white texto-descuentos">
      <div class="p-3">
        <h2>Último día para disfrutar descuentos</h2>
        <p class="descripcion">
          Cursos desde 10 USD$. Utiliza el cupón 10USD para pagar únicamente 10 USD en cualquier curso.
        </p>

        <input placeholder="¿Qué quieres aprender?" type="search" class="form-control bg-light buscar" />
      </div>
    </div>

    <div class="col-lg-5">
      <img class="img-fluid" src="assets/images/persona1.png" alt="imagen persona udemy" />
    </div>
  </div>
</section>
